*{
    box-sizing: border-box;
}
/* element selector */
body{
    background-color: #0c2d57;
    font-family: calibri;
    color: white ;
}

/* class selector */
.text-primary{
    color: aliceblue;
}
.col{
    width: 25%;
    float: left;
}

.img-responsive{
    width: 100%;
    max-width: 500%;
}
.circle{
    border-radius: 50%;
}
.raunded{
    border-radius: 20%;
}

.p-1{
    padding: 10px;
}
.col-50{
    width: 50%;
    float: left;
}